.cardContainer {
    height: 50vh;
}

.headerText {
    position: absolute;
    top: 25vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75vw;
    text-align: center;
}

.searchBar {
    background-color: #fff;
    width: 45vw;
    align-self: center;
}

.backgroundImage {
    width: 100% !important;
    height: 50vh;
}
